<!DOCTYPE html>
<html>
  <head>
    <title>Pragprog Books Omline Store</title>
      <%= stylesheet_link_tag "application", media: "all",
        "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application",
        "data-turbolinks-track" => true %>
      <%= csrf_meta_tag %>
  </head>
  <body class="<%= controller.controller_name %>">
    <div id="banner">
      <%= image_tag("logo.png") %>
      <%= @page_title || "Absurd drive" %>
    </div>
    <div id="columns">
      <div id="side">
        <ul>
          <li><a href="">Главная</a></li>
          <li><a href="">Вопросы</a></li>
          <li><a href="">Новости</a></li>
          <li><a href="">Контакты</a></li>
        </ul>
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
